@import '../node_modules/carbon-components/css/carbon-components.css';

.bx--header, .bx--header-panel {
  background-color: #237586 !important;
}

.hedron-label {
  display: block;
  margin-bottom: 10px;
}

.add-btn {
  float: right;
}

.clear-float {
  clear: both;
}

.editor {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  background-color: #F4F4F4;
  width:100%;
  margin-top: 1rem;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 300px;
}
